In [1]:
import numpy as np
import pandas as pd

In [2]:
df2015 = pd.read_csv("Datasets/2015.csv").copy()
df2016 = pd.read_csv("Datasets/2016.csv").copy()
df2017 = pd.read_csv("Datasets/2017.csv").copy()
df2018 = pd.read_csv("Datasets/2018.csv").copy()
df2019 = pd.read_csv("Datasets/2019.csv").copy()

Bu analiz patika orta seviye veri bilimi path'ı kapsamında yapılmıştır. Araştırılması istenenler aşağıda verilmiştir:

Bu veri seti ilk kez 2012 yılında yayınlanan 155 ülkeyi mutluluk seviyelerine göre sıralayan dünya mutluluk raporlarından oluşmaktadır.

Mutluluk seviyelerini belirlemek için 6 faktör -ekonomik üretim, sosyal destek, yaşam beklentisi, özgürlük, yolsuzluğun olmaması ve cömertlik - göz önüne alınmaktadır. Amaç günümüz dünyasında daha mutlu toplumlar oluşmasına katkı sağlamak için aşağıdaki gibi sorulara cevaplar arayabilmektir.

+ Hangi ülkeler veya bölgeler genel mutlulukta ve mutluluğa katkıda bulunan altı faktörün her birinde en yüksek sırada yer alıyor?

+ 2015-2016 ile 2016-2017 raporları arasında ülke sıralamaları veya puanları nasıl değişti?

+ Herhangi bir ülke mutlulukta önemli bir artış veya azalma yaşadı mı?

## Hangi Ülkeler Genel Mutlulukta ve Mutluluğa Katkıda Bulunan Altı Faktörün Her Birinde En Yüksek Sırada

In [82]:
dfs = [df2016.iloc[:10,0] , df2017.iloc[:10, 0], df2018.iloc[:10, 1], df2019.iloc[:10, 1]]

In [45]:
a = df2015.iloc[:10, 0]
for i in dfs:
    a = np.intersect1d(i, a)


print(a)

['Canada' 'Denmark' 'Finland' 'Iceland' 'Netherlands' 'New Zealand'
 'Norway' 'Sweden' 'Switzerland']

## Hangi Bölgeler Genel Mutlulukta ve Mutluluğa Katkıda Bulunan  6 Faktörün Her Birinde En Yüksek Sırada

In [4]:
df2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [5]:
df2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [6]:
df2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [7]:
df2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [8]:
df2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [57]:
df2019.rename(columns = {'Freedom to make life choices' : 'Freedom'}, inplace = True)

In [68]:
df2018.rename(columns = {'Country or region' : 'Country'}, inplace = True)

In [52]:
df2018.rename(columns = {'Freedom to make life choices' : 'Freedom'}, inplace = True)

In [58]:
df2019.rename(columns = {'Country or region' : 'Country'}, inplace = True)

In [9]:
def make(col, c, x = 10):
    c[0].sort_values(by = col, ascending = 0, inplace = True)
    b = [c[0][:10]['Country']]
    for i in range(1 , len(c)):
        c[i].sort_values(by = col, ascending = 0, inplace = True)
        a = c[i][:10]['Country']
        b = np.intersect1d(b, a)
        
    print(b)

In [147]:
make('Freedom', c)

['Cambodia' 'Denmark' 'Finland' 'Norway' 'Sweden' 'Uzbekistan']

In [54]:
c = [df2015, df2016, df2017, df2018, df2019]

## Herhangi bir ülke mutlulukta önemli bir artış veya azalma yaşadı mı ?

Bu bilgiye ulaşmak için 2015 ve 2019'daki verilerimizi kullanacağız.

In [62]:
ddf2015 = df2015[['Country', 'Happiness Score']]
ddf2019 = df2019[['Country', 'Score']]

In [64]:
df = ddf2015.merge(ddf2019)

In [66]:
df['Diff'] = df['Happiness Score'] - df['Score']

In [70]:
df.sort_values(by = 'Diff', inplace = True)

In [76]:
#En fazla artmış olan ülke
print(df.iloc[0, 0])
#En çok azalmış olan ülke
print(df.iloc[-1, 0])

Benin
Venezuela

## 2015-2016 ile 2016-2017 raporları arasında ülke sıralamaları veya puanları nasıl değişti?

In [3]:
df1 = df2015[['Country', 'Happiness Rank']]

In [16]:
df1.rename(columns = {'Happiness Rank' : 'HR15'})

         Country  HR15
0    Switzerland     1
1        Iceland     2
2        Denmark     3
3         Norway     4
4         Canada     5
..           ...   ...
153       Rwanda   154
154        Benin   155
155        Syria   156
156      Burundi   157
157         Togo   158

[158 rows x 2 columns]

In [6]:
df2 = df2016[['Country', 'Happiness Rank']]

In [7]:
df2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [8]:
df3 = df2017[['Country', 'Happiness.Rank']]

In [13]:
df3.rename(columns = {'Happiness.Rank' : 'HR17'})

                      Country  HR17
0                      Norway     1
1                     Denmark     2
2                     Iceland     3
3                 Switzerland     4
4                     Finland     5
..                        ...   ...
150                    Rwanda   151
151                     Syria   152
152                  Tanzania   153
153                   Burundi   154
154  Central African Republic   155

[155 rows x 2 columns]

In [10]:
df2.rename(columns = {'Happiness Rank' :'HR16'})

         Country  HR16
0        Denmark     1
1    Switzerland     2
2        Iceland     3
3         Norway     4
4        Finland     5
..           ...   ...
152        Benin   153
153  Afghanistan   154
154         Togo   155
155        Syria   156
156      Burundi   157

[157 rows x 2 columns]

In [21]:
HR = df1.merge(df2, how = 'outer').merge(df3, how = 'outer')

In [23]:
HR

                      Country  Happiness Rank   HR16  Happiness.Rank
0                 Switzerland             1.0    2.0             4.0
1                     Iceland             2.0    3.0             3.0
2                     Denmark             3.0    1.0             2.0
3                      Norway             4.0    4.0             1.0
4                      Canada             5.0    6.0             7.0
..                        ...             ...    ...             ...
161         Somaliland Region             NaN   97.0             NaN
162                   Namibia             NaN  113.0           111.0
163               South Sudan             NaN  143.0           147.0
164  Taiwan Province of China             NaN    NaN            33.0
165   Hong Kong S.A.R., China             NaN    NaN            71.0

[166 rows x 4 columns]